
body{
    background-color: #A25151;
}

h1 {

    text-align: center;
}
h2 {
    text-align: center;
    color: #444444;
    border-bottom: 1px solid #eaeaea;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 0 1px 1px #fff;
    width: 100%;
}
p {
    padding-left: 25px;
}


section {
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    float: left;
    width: 340px;
    height: 201px;
    margin: 25px 25px 25px 25px;

}

img {
    display: block;
    float: left;
    width: 180px;
    height: 230px;
    margin-left: 75px;
}
