body {
    
    background-color: #A25151;
}
h1 {

    text-align: center;
}
h2 {
    font-family: 'Roboto Condensed',sans-serif;
    text-align: center;
    color: #444444;
    text-transform: uppercase;
}
p {
    padding-left: 25px;
}


section {
    background: #f9f9f9;
    border: 1px solid #eaeaea;
    float: left;
    width: 350px;
    height: 200px;
    margin: 25px 25px 25px 25px;

}

img {
    display: block;
    float: left;
    width: 165px;
    height: 220px;
    margin-left: 65px;
}
